<launch>

  <arg name="num_cameras" />
  <arg name="gp" />
  <arg name="lp" />
  <arg name="task" />
  <arg name="resolution" />
  <arg name="map_name" />

  <!-- ##################################################################### -->
  <!-- turtlebot specific -->
  <!-- ##################################################################### -->
  <arg name="robot_radius"                       value="0.175" />
  <arg name="robot_height"                       value="1.20"  />
  <arg name="odom_topic"                         value="odom"  />
  <arg name="scan_topic"                         value="scan"  />
  <arg name="laser_frame"                        value="base_laser_link" />
  <arg name="laser_range"                        value="30.0" />
  <arg name="cmd_vel_topic"                      value="cmd_vel_mux/input/navi_raw" />

  <!-- local costmap specific params for turtlebot -->
  <arg name="local_costmap_update_frequency"     value="10.0" />
  <arg name="local_costmap_publish_frequency"    value="10.0" />

  <!-- front_rgbd_camera_depth_optical_frame->base_link->base_footprint -->
  <arg name="obstacle_front_rgbd_camera_z"       value="0.8808" />
  <arg name="obstacle_front_rgbd_camera_topic"   value="/front_rgbd_camera/depth/points" />
  <arg name="obstacle_front_rgbd_camera_frame"   value="/front_rgbd_camera_depth_optical_frame" />

  <!-- Velocity smoother -->
  <include file="$(find cultureid_yocs_velocity_smoother)/launch/velocity_smoother.launch" />
  <include file="$(find cultureid_turtlebot_navigation)/launch/includes/safety_controller.launch.xml" />

  <!-- move_base specific params for turtlebot -->
  <arg name="move_base_controller_frequency"     value="15.0" />
  <arg name="move_base_controller_patience"      value="110.1" />
  <arg name="move_base_planner_frequency"        value="11.0" />
  <arg name="move_base_planner_patience"         value="10.1" />
  <arg name="move_base_oscillation_timeout"      value="15.0" />

  <!-- teb local planner specific params for turtlebot -->
  <arg name="teb_dt_hysteresis"                  value="0.00"  if="$(eval arg('lp') == 'teb')"/>
  <arg name="teb_max_vel_theta"                  value="1.50"  if="$(eval arg('lp') == 'teb')"/>
  <arg name="teb_acc_lim_x"                      value="2.50"  if="$(eval arg('lp') == 'teb')"/>
  <arg name="teb_acc_lim_theta"                  value="2.50"  if="$(eval arg('lp') == 'teb')"/>
  <arg name="teb_inflation_dist"                 value="0.01"  if="$(eval arg('lp') == 'teb')"/>





  <!-- ##################################################################### -->
  <!-- move base launcher -->
  <!-- ##################################################################### -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!-- Costmap params: common, global, and local -->
    <rosparam file="$(find cultureid_devel)/configuration_files/common/costmap_params/costmap_common_params.yaml"                                          command="load" ns="global_costmap" />
    <rosparam file="$(find cultureid_devel)/configuration_files/common/costmap_params/costmap_common_params.yaml"                                          command="load" ns="local_costmap" />
    <rosparam file="$(find cultureid_devel)/configuration_files/common/costmap_params/global_costmap_params.yaml"                                          command="load" />
    <rosparam file="$(find cultureid_devel)/configuration_files/common/costmap_params/local_costmap_params.yaml"                                           command="load" />

    <!-- move_base params: common -->
    <rosparam file="$(find cultureid_devel)/configuration_files/common/move_base_params.yaml"                                                              command="load" />
    <param name="controller_frequency"                  value="$(arg move_base_controller_frequency)" />
    <param name="controller_patience"                   value="$(arg move_base_controller_patience)" />
    <param name="planner_frequency"                     value="$(arg move_base_planner_frequency)" />
    <param name="planner_patience"                      value="$(arg move_base_planner_patience)" />
    <param name="oscillation_timeout"                   value="$(arg move_base_oscillation_timeout)" />

    <!-- move_base params: task-related -->
    <rosparam file="$(find cultureid_devel)/configuration_files/$(arg task)/$(arg task)_move_base_params/$(arg task)_global_costmap_params.yaml"           command="load" />

    <!-- global planner params -->
    <rosparam file="$(find cultureid_devel)/configuration_files/common/global_planners_params/$(arg gp)_global_planner_params.yaml"                        command="load" />

    <param name="base_global_planner"                   value="global_planner/GlobalPlanner"                                                               if="$(eval gp == 'globalplanner')" />
    <param name="base_global_planner"                   value="navfn/NavfnROS"                                                                             if="$(eval gp == 'navfn')" />
    <param name="base_global_planner"                   value="SBPLLatticePlanner"                                                                         if="$(eval gp == 'sbpl')" />
    <param name="SBPLLatticePlanner/primitive_filename" value="$(find cultureid_devel)/configuration_files/kinematics/uni_$(arg resolution).mprim"         if="$(eval gp == 'sbpl')" />

    <!-- local planner params -->
    <rosparam file="$(find cultureid_devel)/configuration_files/common/local_planners_params/$(arg lp)_local_planner_params.yaml"                          command="load" />

    <param name="base_local_planner"                    value="dwa_local_planner/DWAPlannerROS"                                                            if="$(eval lp == 'dwa')" />
    <param name="base_local_planner"                    value="teb_local_planner/TebLocalPlannerROS"                                                       if="$(eval lp == 'teb')" />
    <param name="base_local_planner"                    value="eband_local_planner/EBandPlannerROS"                                                        if="$(eval lp == 'eband')" />


    <!-- Modify params -->
    <!-- Global costmap params -->
    <param name="global_costmap/resolution"                                                             value="$(arg resolution)"   />
    <param name="global_costmap/robot_radius"                                                           value="$(arg robot_radius)" />
    <param name="global_costmap/max_obstacle_height"                                                    value="$(arg robot_height)" />
    <param name="global_costmap/obstacle_layer/scan/sensor_frame"                                       value="$(arg laser_frame)"  />
    <param name="global_costmap/obstacle_layer/scan/topic"                                              value="$(arg scan_topic)"   />
    <param name="global_costmap/obstacle_layer/obstacle_range"                                          value="$(arg laser_range)"  />
    <param name="global_costmap/obstacle_layer/raytrace_range"                                          value="$(arg laser_range)"  />
    <param name="global_costmap/obstacle_layer/max_obstacle_height"                                     value="$(arg robot_height)"  />
    <param name="global_costmap/inflation_layer/inflation_radius"                                       value="$(arg robot_radius)" />

    <param name="global_costmap/front_rgbd_obstacle_layer/origin_z"                                     value="$(arg obstacle_front_rgbd_camera_z)" />
    <param name="global_costmap/front_rgbd_obstacle_layer/front_rgbd_mark/topic"                        value="$(arg obstacle_front_rgbd_camera_topic)" />
    <param name="global_costmap/front_rgbd_obstacle_layer/front_rgbd_mark/sensor_frame"                 value="$(arg obstacle_front_rgbd_camera_frame)" />
    <param name="global_costmap/front_rgbd_obstacle_layer/front_rgbd_clear/topic"                       value="$(arg obstacle_front_rgbd_camera_topic)" />
    <param name="global_costmap/front_rgbd_obstacle_layer/front_rgbd_clear/sensor_frame"                value="$(arg obstacle_front_rgbd_camera_frame)" />
    <param name="global_costmap/front_rgbd_obstacle_layer/front_rgbd_mark/max_obstacle_height"          value="$(arg robot_height)" />

    <!-- Local costmap params -->
    <param name="local_costmap/resolution"                                                              value="$(arg resolution)"   />
    <param name="local_costmap/robot_radius"                                                            value="$(arg robot_radius)" />
    <param name="local_costmap/max_obstacle_height"                                                     value="$(arg robot_height)" />
    <param name="local_costmap/obstacle_layer/scan/sensor_frame"                                        value="$(arg laser_frame)"  />
    <param name="local_costmap/obstacle_layer/scan/topic"                                               value="$(arg scan_topic)"   />
    <param name="local_costmap/obstacle_layer/obstacle_range"                                           value="$(arg laser_range)"  />
    <param name="local_costmap/obstacle_layer/max_obstacle_height"                                      value="$(arg robot_height)"  />
    <param name="local_costmap/obstacle_layer/raytrace_range"                                           value="$(arg laser_range)"  />
    <param name="local_costmap/inflation_layer/inflation_radius"                                        value="$(arg robot_radius)" />


    <param name="local_costmap/front_rgbd_obstacle_layer/origin_z"                                      value="$(arg obstacle_front_rgbd_camera_z)" />
    <param name="local_costmap/front_rgbd_obstacle_layer/front_rgbd_mark/topic"                         value="$(arg obstacle_front_rgbd_camera_topic)" />
    <param name="local_costmap/front_rgbd_obstacle_layer/front_rgbd_mark/sensor_frame"                  value="$(arg obstacle_front_rgbd_camera_frame)" />
    <param name="local_costmap/front_rgbd_obstacle_layer/front_rgbd_clear/topic"                        value="$(arg obstacle_front_rgbd_camera_topic)" />
    <param name="local_costmap/front_rgbd_obstacle_layer/front_rgbd_clear/sensor_frame"                 value="$(arg obstacle_front_rgbd_camera_frame)" />
    <param name="local_costmap/front_rgbd_obstacle_layer/front_rgbd_mark/max_obstacle_height"           value="$(arg robot_height)" />

    <param name="local_costmap/update_frequency"                                                        value="$(arg local_costmap_update_frequency)" />
    <param name="local_costmap/publish_frequency"                                                       value="$(arg local_costmap_publish_frequency)" />



    <!-- teb_local_planner params -->
    <param name="TebLocalPlannerROS/odom_topic"                                                         value="$(arg odom_topic)"/>
    <param name="TebLocalPlannerROS/footprint_model/radius"                                             value="$(arg robot_radius)"/>
    <param name="TebLocalPlannerROS/dt_hysteresis"                                                      value="$(arg teb_dt_hysteresis)"/>
    <param name="TebLocalPlannerROS/max_vel_theta"                                                      value="$(arg teb_max_vel_theta)"/>
    <param name="TebLocalPlannerROS/acc_lim_x"                                                          value="$(arg teb_acc_lim_x)"/>
    <param name="TebLocalPlannerROS/acc_lim_theta"                                                      value="$(arg teb_acc_lim_theta)"/>
    <param name="TebLocalPlannerROS/inflation_dist"                                                     value="$(arg teb_inflation_dist)"/>


    <!-- Remap move_base input/output topics -->
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom"    to="$(arg odom_topic)"/>
    <remap from="scan"    to="$(arg scan_topic)"/>
  </node>

  <!-- Waypoint follower
  <include file="$(find cultureid_devel)/launch/navigation/follow_waypoints.launch">
    <arg name="map_name"  value="$(arg map_name)" />
  </include>
  -->

</launch>
